<%
const levels = {
  debug:   'grey',
  log:     'info-dark',
  info:    'info-dark',
  warning: 'warning-dark',
  error:   'danger'
}
const icons = {
  debug:   'fa-magnifying-glass',
  log:     'fa-info',
  info:    'fa-info',
  warning: 'fa-circle-exclamation',
  error:   'fa-triangle-exclamation'
}
function getLevelClass (level) { return levels[level] }
function getLevelIcon (level) { return icons[level] }

%>

<table class="table is-fullwidth has-text-centered">
  <!--
    {"peerId":"12D3KooWR87dpwfWdg8nQVx243ugPM66vFCcVVQCUu7Cn733YY9q","chain":"Kusama",
    "chainType":{"live":null},
    "health":{"peers":40,"isSyncing":false,"shouldHavePeers":true},
    "syncState":{"startingBlock":15276616,"currentBlock":15439788,"highestBlock":15439788},
    "version":"0.9.32-c71e872afed",
    "performance":94.72355604171753}
  -->
  <thead>
    <th></th>
    <th class="has-text-centered">Id</th>
    <!-- <th>Sender</th> -->
    <th class="has-text-centered">Service</th>
    <th class="has-text-centered">Monitor</th>
    <th class="has-text-centered">Source</th>
    <th class="has-text-centered">Version</th>
    <th class="has-text-right">Performance</th>
    <th class="has-text-centered">Timestamp</th>
  </thead>

  <tbody>
    <% healthChecks.forEach(hc => { %>
      <tr>
        <td class="has-text-<%= getLevelClass(hc.level) %> has-text-centered">
          <i class="fa-solid <%= getLevelIcon(hc.level) %>"></i>
        </td>
        <td><a href="/healthCheck/<%= hc.id %>"><%= hc.id %></a></td>
        <!-- <td><a href="/peer/<%= hc.peerId %> "><%= shortStash(hc.peerId) %></a></td> -->
        <td><a href="/service/<%= encodeURIComponent(hc.serviceUrl) %> "><%= hc.serviceUrl %></a></td>
        <td>
          <a href="/monitor/<%= hc.monitorId %> "><%= shortStash(hc.monitorId) %></a>
          <%- include(templateDir + '/isLocalMonitor.ejs', { monitorId: hc.monitorId, localMonitorId }); -%>
        </td>
        <td><%= hc.source %></td>
        <td><%= hc.record?.version || 'unknown' %></td>
        <td class="has-text-right"><%= hc.record?.performance?.toFixed(4) %></td>
        <td><%= moment.utc(hc.createdAt).format(dateTimeFormat) %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
