
<%- include(templateDir + '/html1.ejs'); -%>

  <%
  const levels = {
    debug:   'grey',
    log:     'info-dark',
    info:    'info-dark',
    warning: 'warning-dark',
    error:   'danger'
  }
  const icons = {
    debug:   'fa-magnifying-glass',
    log:     'fa-info',
    info:    'fa-info',
    warning: 'fa-circle-exclamation',
    error:   'fa-triangle-exclamation'
  }
  function getLevelClass (level) { return levels[level] }
  function getLevelIcon (level) { return icons[level] }

  %>
  <section class="section">

    <nav class="level">
      <div class="level-left">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Checks</a></li>
          </ul>
        </nav>
      </div>
    </nav>

    <table class="table is-fullwidth">
      <thead>
        <th> </th>
        <th>CheckId</th>
        <th>Service</th>
        <th>Monitor</th>
        <th>Source</th>
        <th>Version</th>
        <th class="has-text-centered">Performance (ms)</th>
        <th>Timestamp (UCT)</th>
      </thead>

      <tbody>
        <% models.forEach(hc => { %>
          <tr>
            <td class="has-text-<%= getLevelClass(hc.level) %> has-text-centered">
              <i class="fa-solid <%= getLevelIcon(hc.level) %>"></i>
            </td>
            <td><a href="/healthCheck/<%= hc.id %>"><%= hc.id %></a></td>
            <td>
              <a href="/service/<%= encodeURIComponent(hc.serviceUrl) %>"><%= hc.serviceUrl %></a>
              <a href="https://polkadot.js.org/apps/?rpc=<%= hc.serviceUrl %>" target="_blank">
                <super><small><i class="fa-solid fa-arrow-up-right-from-square"></i></small></super></a>
            </td>
            <td>
              <a href="/monitor/<%= hc.monitorId %> "><%= shortStash(hc.monitorId) %></a>
              <% if (hc.monitorId === localMonitorId) { %><i class="fa-regular fa-circle-check"></i><% } %>
            </td>
            <!-- <td><%= JSON.stringify(hc.record) %> </td> -->
            <td><%= hc.source %></td>
            <td><%= hc.record?.version %></td>
            <td class="has-text-centered"><%= hc.record?.performance?.toFixed(4) %></td>
            <td><%= moment(hc.createdAt).format(dateTimeFormat) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <a class="pagination-previous" href="/healthCheck<%= pagination.prev.query %>"><i class="fa-solid fa-angle-left"></i></a>
      <a class="pagination-next" href="/healthCheck<%= pagination.next.query %>"><i class="fa-solid fa-angle-right"></i></a>
      <ul class="pagination-list">
        <% pagination.pages.forEach(page => { %>
          <li>
            <a class="<%= page.class %><%= page.current ? ' is-current' : '' %> " href="/healthCheck<%= page.query %> "><%= page.text %></a>
          </li>
        <% }) %>
        <button class="button is-white">Items:</button>
        <div class="select">
          <select id="itemsPerPage" label="Items per page" onchange="handleSelect()">
            <% 
              var options = [ 10, 20, 50 ]
              for (var i = 0; i < options.length; i++) {
                const option = options[i]
                var selected = (option === limit) ? 'selected' : ''
                %> <option value="<%= option %>" <%=selected %>><%= option %></option> <%
              }
            %>
          </select>
        </div>
        <!--
        <li>
          <a class="pagination-link" aria-label="page 1">1</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 45">45</a>
        </li>
        <li>
          <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 47">47</a>
        </li>
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 86">86</a>
        </li>
      </ul>
      -->
    </nav>

  </section>

  <script>
    function handleSelect (evt) {
      var x = document.getElementById('itemsPerPage');
      console.debug('handleSelect', x.value)
      window.location.href = `/healthCheck?offset=0&limit=${x.value}`
    }
  </script>

<%- include(templateDir + '/html2.ejs'); -%>
