<% 
  if(locals.columns === []) {
    columns = ['monitorId', 'createdAt', 'updatedAt',
      // services?
    ]
  }
  //const columns = []
%> 

<table class="table is-fullwidth">
  <thead>
    <% if (columns.includes('monitorId')) { %>
    <th>Monitor</th>
    <% } %>
    <% if (columns.includes('services')) { %>
    <th class="has-text-centered">Services</th>
    <% } %>
    <th>Last Seen (UTC)</th>
    <th>Discovered</th>
  </thead>
  <tbody>
    <% monitors.forEach(monitor => {
        //  if (!monitor.services) monitor.services = []
    %>
    <tr>
      <% if (columns.includes('monitorId')) { %>
      <td><a href="/monitor/<%= monitor.monitorId %>"><%= shortStash(monitor.monitorId) %></a></td>
      <% } %>
      <% if (columns.includes('services')) { %>
      <td class="has-text-centered"><%= monitor.services.length %></td>
      <% } %>
      <td><%= moment.utc(monitor.updatedAt).format(dateTimeFormat) %> </td>
      <td><%= moment.utc(monitor.createdAt).format(dateTimeFormat) %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
