
<%- include(templateDir + '/html1.ejs'); -%>

  <section class="section">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/monitor">monitors</a></li>
        <li class="is-active"><a href="#" aria-current="page"> <%= monitor.monitorId %> </a>
          <%- include(templateDir + '/isLocalMonitor.ejs', { monitorId: monitor.monitorId, localMonitorId }); -%>
        </li>
      </ul>
    </nav>

    <table class="table is-bordered">
      <tbody>
        <tr>
          <th>Monitor Id</th>
          <td><%= monitor.monitorId %></td>
        </tr>
        <!-- <tr>
          <th>Service Url</th>
          <td><%= monitor.serviceUrl %></td>
        </tr> -->
      </tbody>
    </table>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Checks</a></li>
      </ul>
    </div>
    <%- include(templateDir + '/checksTable.ejs', { healthChecks, columns: [] }); -%>

  </section>

<%- include(templateDir + '/html2.ejs'); -%>
