
<%- include(templateDir + '/html1.ejs'); -%>

  <section class="section">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/peer">Peers</a></li>
        <li class="is-active"><a href="#" aria-current="page"> <%= peer.peerId %> </a>
          <%- include(templateDir + '/isLocalPeer.ejs', { peerId: peer.peerId, localPeerId }); -%>
        </li>
      </ul>
    </nav>

    <table class="table is-bordered">
      <tbody>
        <tr>
          <th>Peer Id</th>
          <td><%= peer.peerId %></td>
        </tr>
      </tbody>
    </table>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Services</a></li>
      </ul>
    </div>
    <%- include(templateDir + '/servicesTable.ejs', { services, columns: [] }); -%>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Checks</a></li>
      </ul>
    </div>
    <%- include(templateDir + '/checksTable.ejs', { healthChecks, columns: [] }); -%>


  </section>

<%- include(templateDir + '/html2.ejs'); -%>
