
<%- include(templateDir + '/html1.ejs', { version }); -%>

  <section class="section">

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li class="is-active"><a href="#" aria-current="page"> <%= service.serviceUrl %>  </a></li>
      </ul>
    </nav>

    <table class="table is-bordered">
      <tbody>
        <tr>
          <th>Url</th>
          <td><%= service.serviceUrl %></td>
        </tr>
        <tr>
          <th>Name</th>
          <td><%= service.name %></td>
        </tr>
        <tr>
          <th>Polkadot.js</th>
          <td><a href="https://polkadot.js.org/apps/?rpc=<%= service.serviceUrl %>" target="_blank">
            <%= service.serviceUrl %>
            <super><small><i class="fa-solid fa-arrow-up-right-from-square"></i></small></super>
          </a></td>
        </tr>
        <tr>
          <th>Discovered</th>
          <td><%= moment(service.createdAt).format(dateTimeFormat) %></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><%= moment(service.updatedAt).format(dateTimeFormat) %></td>
        </tr>
      </tbody>
    </table>

    <div class="columns">
      <div class="column">
        <div class="tabs">
          <ul>
            <li class="is-active"><a>Monitors</a></li>
          </ul>
        </div>
        <%- include(templateDir + '/monitorsTable.ejs', { monitors, columns: ['monitorId', 'updatedAt'] }); -%>    
      </div>
      <div class="column">
        <div class="tabs">
          <ul>
            <li class="is-active"><a>Peers</a></li>
          </ul>
        </div>
        <%- include(templateDir + '/peersTable.ejs', { peers: service.peers, columns: ['peerId', 'updatedAt'] }); -%>
      </div>
    </div>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Performance</a></li>
        <li>
          <a href="/metrics/<%= encodeURIComponent(service.serviceUrl) %>" target="_blank">
            Prometheus
            &nbsp;<img src="/image/prometheus_logo_orange.svg" alt="" width="18px">
          </a>
        </li>
      </ul>
    </div>
    <%- include(templateDir + '/checksChart.ejs', { healthChecks }); -%>

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Checks</a></li>
      </ul>
    </div>
    <%- include(templateDir + '/checksTable.ejs', { healthChecks }); -%>

  </section>

<%- include(templateDir + '/html2.ejs'); -%>
