
<%- include(templateDir + '/html1.ejs'); -%>

  <section class="section">

    <nav class="level">
      <div class="level-left">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Services</a></li>
          </ul>
        </nav>
      </div>
    </nav>

    <table class="table is-fullwidth">
      <thead>
        <th>Service url</th>
        <th>P.JS</th>
        <th>Name</th>
        <th>Monitors</th>
        <th>Discovered</th>
        <th>Last seen</th>
      </thead>

      <tbody>
        <% services.forEach(service => { %>
          <tr>
            <td><a href="/service/<%= encodeURIComponent(service.serviceUrl) %>"><%= service.serviceUrl %></a></td>
            <td><a href="https://polkadot.js.org/apps/?rpc=<%= service.serviceUrl %>" target="_blank">
              <%= service.serviceUrl %>
              <super><small><i class="fa-solid fa-arrow-up-right-from-square"></i></small></super>
            </a></td>
            <td><%= service.name %></td>
            <td><%= service.monitors.length %></td>
            <td><%= moment(service.createdAt).format(dateTimeFormat) %></td>
            <td><%= moment(service.updatedAt).format(dateTimeFormat) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </section>

<%- include(templateDir + '/html2.ejs', { localMonitorId }); -%>
