
<%- include(templateDir + '/html1.ejs'); -%>

    <!-- <h1 class="title">Hello from index</h1> -->
    <section class="section">

      <div class="columns">
        <div class="column">
          <div class="card has-text-centered">
            <div class="card-header has-background-primary">
              <p class="card-header-title">Services</p>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-1"><%= serviceCount %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card has-text-centered">
            <div class="card-header has-background-primary">
              <p class="card-header-title">Peers</p>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-1"><%= peerCount %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card has-text-centered">
            <div class="card-header has-background-primary">
              <p class="card-header-title">Checks</p>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-1"><%= checkCount %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>
<%- include(templateDir + '/html2.ejs', { localPeerId }); -%>
