
<%- include(templateDir + '/html1.ejs'); -%>
<%- include(templateDir + '/navbar.ejs'); -%>

  <section class="section">

    <nav class="level">
      <div class="level-left">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Peers</a></li>
          </ul>
        </nav>
      </div>
    </nav>

    <table class="table is-fullwidth">
      <thead>
        <th>PeerId</th>
        <!-- <th>Name</th> -->
        <th>Discovered</th>
        <th>Last seen</th>
      </thead>

      <tbody>
        <% peers.forEach(peer => { %>
          <tr>
            <td><a href="/peer/<%= peer.peerId %>"><%= peer.peerId %></a></td>
            <!-- <td><%= peer.name %></td> -->
            <td><%= moment(peer.createdAt).format(dateTimeFormat) %></td>
            <td><%= moment(peer.updatedAt).format(dateTimeFormat) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </section>

<%- include(templateDir + '/html2.ejs'); -%>
